/* Base styles */
p, h1, h2, h3, h4, h5, h6, em, div, li, span, strong {
  color: var(--global-text-color);
}

a, table.table a {
  color: var(--global-theme-color);
}

/* Button Specific Styles - Unchanged for all devices */
button {
  padding: 8px 15px; /* Consistent padding */
  font-size: 0.8em; /* Consistent font size */
  background-color: var(--global-theme-color);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: darken(var(--global-theme-color), 10%);
}

/* No separate mobile adjustments for buttons needed */

/* Responsive adjustments for images and other elements */
@media (max-width: 768px) {
  /* Adjusting image sizes for responsive behavior */
  img {
    max-width: 100%;
    height: auto;
  }

  /* Profile Image Adjustment */
  .profile.float-right, .profile.float-left {
    float: none; /* Remove floating on mobile for profile image */
    display: block;
    margin: 0 auto; /* Center profile image */
  }
  
  /* Optionally, adjust profile image size if necessary */
  .page.profile.image {
    width: 50%; /* Adjust based on your preference */
    height: auto;
  }
}

/* Ensure responsive tables for mobile devices */
.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

/* Footer, Navbar, and other component adjustments for mobile... */
